{{ $id := .id }}
{{ $type := .type }}
{{ $showSave := .showSave }}
{{ $imageUrl := .imageUrl | default "" }}
{{ $videoUrl := .videoUrl | default "" }}
{{ $videoType := .videoType | default "" }}

<div class="interactions" id="interactions-{{ $id }}">
  <!-- Stats -->
  <div class="interactions__stats">
    <div class="interactions__reactions" style="cursor: pointer;" onclick="showReactionsModal('{{ $id }}')" title="View reactions">
      <span class="interactions__reaction-icons" id="reaction-icons-{{ $id }}">
      </span>
      <span class="interactions__count" id="like-count-{{ $id }}">0 Reactions</span>
    </div>
    <div class="interactions__comment-count" onclick="toggleComments('{{ $id }}')" style="cursor: pointer;" title="View comments">
      <span id="comment-count-{{ $id }}">0 comments</span>
    </div>
  </div>
  
  <div class="interactions__divider"></div>
  
  <!-- Buttons -->
  <div class="interactions__buttons">
    <!-- Like button with reaction popup -->
    <div class="like-btn-wrapper" id="like-wrapper-{{ $id }}">
      <button class="interaction-btn" id="like-btn-{{ $id }}" data-content-id="{{ $id }}" aria-label="Like">
        <span class="interaction-btn__icon">
          <span class="like-icon-default">{{ partial "icons.html" (dict "icon" "thumbs-up" "size" "20") }}</span>
          <span class="like-icon-active">{{ partial "icons.html" (dict "icon" "thumbs-up-fill" "size" "20") }}</span>
          <span class="like-icon-custom" style="display: none;"></span>
        </span>
        <span class="interaction-btn__text">Like</span>
      </button>
      <!-- Facebook-style emoji reactions -->
      <div class="reaction-popup" id="reaction-popup-{{ $id }}">
        <button class="reaction-popup__btn" data-reaction="like" data-id="{{ $id }}" title="Like">
          <img src="/images/reactions/like.svg" alt="Like" width="36" height="36" />
        </button>
        <button class="reaction-popup__btn" data-reaction="love" data-id="{{ $id }}" title="Love">
          <img src="/images/reactions/love.svg" alt="Love" width="36" height="36" />
        </button>
        <button class="reaction-popup__btn" data-reaction="care" data-id="{{ $id }}" title="Care">
          <img src="/images/reactions/care.svg" alt="Care" width="36" height="36" />
        </button>
        <button class="reaction-popup__btn" data-reaction="haha" data-id="{{ $id }}" title="Haha">
          <img src="/images/reactions/haha.svg" alt="Haha" width="36" height="36" />
        </button>
        <button class="reaction-popup__btn" data-reaction="wow" data-id="{{ $id }}" title="Wow">
          <img src="/images/reactions/wow.svg" alt="Wow" width="36" height="36" />
        </button>
        <button class="reaction-popup__btn" data-reaction="sad" data-id="{{ $id }}" title="Sad">
          <img src="/images/reactions/sad.svg" alt="Sad" width="36" height="36" />
        </button>
        <button class="reaction-popup__btn" data-reaction="angry" data-id="{{ $id }}" title="Angry">
          <img src="/images/reactions/angry.svg" alt="Angry" width="36" height="36" />
        </button>
      </div>
    </div>
    
    <button class="interaction-btn" id="comment-btn-{{ $id }}" onclick="toggleComments('{{ $id }}')" aria-label="Comment">
      <span class="interaction-btn__icon">{{ partial "icons.html" (dict "icon" "comment" "size" "20") }}</span>
      <span>Comment</span>
    </button>
    
    <button class="interaction-btn" id="share-btn-{{ $id }}" onclick="shareContent('{{ .context.Permalink }}'); event.stopPropagation();" aria-label="Share" style="position: relative;">
      <span class="interaction-btn__icon">{{ partial "icons.html" (dict "icon" "send" "size" "20") }}</span>
      <span>Share</span>
      <div class="share-tooltip" id="share-tooltip-{{ $id }}">
        Link copied!
        <div class="share-tooltip__arrow"></div>
      </div>
    </button>
    
  </div>
  
  <div class="interactions__divider"></div>
  
  <!-- Comments Section -->
  <div class="comments-section" id="comments-{{ $id }}">
    <div class="comment-input-wrapper">
      {{ partial "icons.html" (dict "icon" "default-user" "class" "comment-avatar" "size" "32" "id" (printf "comment-avatar-%s" $id)) }}
      <input 
        type="text" 
        class="comment-input" 
        placeholder="Add a comment..." 
        id="comment-input-{{ $id }}"
        onkeypress="if(event.key==='Enter') addComment('{{ $id }}')"
      >
      <button class="comment-submit-btn" onclick="addComment('{{ $id }}')">Post</button>
    </div>
    <div class="comment-list" id="comment-list-{{ $id }}">
    </div>
  </div>
</div>
